<%- include ('partials/_header'); -%>


  <div class="container">
    <div class="row">

      <a href="/add">
        <button class="btn btn-info mb-4">Add new User</button>
      </a>
      <a href="/deleteUser">
        <button class="btn btn-info mb-4">Delete User</button>
      </a>
      <a href="/consultUser">
        <button class="btn btn-info mb-4">Consult Users</button>
      </a>

<%- include ('partials/_footer'); -%>