<%- include ('partials/_header'); -%>

  <h1>Se eliminó el usuario</h1>
  <a href="/">
    <button class="btn btn-info">Regresar a Pantalla Princial</button>
  </a>

  <%- include ('partials/_footer'); -%>